/* variables */
:root{
  --primary:   #D9B48FFF;
  --secondary: #2460A7FF;
  --third: #85B3D1FF; 
  --fourth: #B3C7D6FF
}

h1,h2,h3,h4{
  /* color: #DDDBFF; */
  color: var(--fourth);
  font-weight: normal;
  line-height: 1.4em;
}

body{
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: var(--secondary);
}
a{
  text-decoration: none;
}
.list{
  text-decoration: none;
}

li{
  list-style-type: none;
  margin-left: 1em;
}

.grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  box-sizing: border-box;
  align-items: center;
  padding: 0px;
}
.navigation{
  margin: 0 20px;
  padding: 0px;
}
.navigation h1{
  grid-column: 1/4;
  grid-row: 1;
  padding-bottom: 0px;
  border-bottom: 3px solid var(--primary);
  display: inline-block;
}
.navigation ul{
  display: none;
}
.leading{
  font-size: 1.5em;
  color: white;
}

.title{
  font-size: 1.8em;
}

.button{
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
  display: inline-block;
  font-size: 1em;
  margin-left: 7px;
}
.button:hover{
  color: #222;
  background: var(--primary);
}

.profileimage{
  border-radius: 30%;
  border-color: blueviolet;
  width: 140px;
  height: auto;
}

.welcome-img{
  grid-column: 6/9;
  margin-top: 1em;
  display: none;
}

#welcome{
  padding: 0 20px 20px 20px;
}
.welcome-text{
  grid-column: 1/8;
}

.center{
  text-align: center;
}

.projectimage{
  margin: 5px auto;
  display: block;
  width: auto;
  height: 150px;
}

.projectinfo{
  font-size: 1.2;
  color: aliceblue;
  text-align: center;
}

.buttoncontainer{
  margin-left: 5px;
}

#contact{
  margin-top: 25px;
  padding: 30px 20px;
  background: #2976B4;
}
#contact h3{
  margin-bottom: 0;
  text-align: center;
}
#contact form{
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}
#contact input,#contact textarea{
  width: 100%;
  margin: 10px 0;
}
#contact textarea{
  max-width: 100%;
  height: 200px;
}
#contact .button{
  margin-top: 10px;
}

input,textarea{
  background: ;
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid #9893D8;
  color: black;
  font-size: 1em;
}

footer{
  padding: 10px 20px;
  background-color: #0A0A333;
}
footer .copyright{
  grid-column: 1/3;
  font-size: 0.8em;
  color: white;
}
footer .social{
  grid-column: 7/9;
  display: flex;
  justify-content: flex-end;
}
footer li{
  margin: 0 6px;
}
footer img{
  width: 40px;
}

.social{
  display: flex;
  justify-content: flex-start;
}
.iconimg{
  width: 40px;
}


.mediacontainer{
  padding: 15px;
  display: flex;
  align-content: flex-start;
}

.media{
  margin-left: 15px;
}

.stack{
  margin: 7px auto;
  text-align: center;
  padding: 4px;
}

.program{
  background-color: var(--fourth);
  margin-left: 5px;
  border-radius: 50px;
  color: black;
  padding: 2px;
}

@media screen and (min-width: 620px){
  .projectinfo{
    font-size: 1.5em;
  }
  h2{
    font-size: 1.8em;
  }
  h3{
    font-size: 1.7em;
  }
  
}

@media screen and (min-width: 800px){
  h1,h2,h3,h4{
    line-height: 1.4em;
  }

  .projectinfo{
    font-size: 1.8em;
  }
  h1{
    font-size: 3em;
  }
  h2{
    font-size: 2.1em;
  }

  h3{
    font-size: 1.9em;
  }

  .welcome-text{
    grid-column: 1/6;
    font-size: 1.4em;
  }

  .projectimage{
    margin: 5px 15px;
    width: auto;
    height: 220px;
  }
  
  .projectinfo{
    font-size: 1.2;
    color: aliceblue;
    text-align: center;
  }
  
  .buttoncontainer{
    margin-left: 5px;
  }

  .project{
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .welcome-img{
    grid-column: 6/9;
    margin-top: 1em;
    display: grid;
  }

  .profileimage{
    margin: 5px auto;
    display: block;
    width: auto;
    height: 250px;
    border-radius: 30px;
  }


  footer .copyright{
    grid-column: 1/5;
    font-size: 1.5em;
  }

  #contact form{
    width: 90%;
    max-width: 560px;
    margin: 20px auto;
    text-align: center;
  }
  
  
  #contact .button{
    margin-top: 10px;
    font-size: 1.8em;
  }
  
  input,textarea{
    background: ;
    padding: 10px 16px;
    border-radius: 20px;
    border: 2px solid #9893D8;
    color: black;
    font-size: 1em;
  }

}

@media screen and (min-width: 1200px){

  .projectinfo{
    font-size: 2.2em;
  }

  h1{
    font-size: 4em;
  }
  h2{
    font-size: 2.8em;
  }

  h3{
    font-size: 2.6em;
  }

  .leading{
    font-size: 2.2em;
  }

  .navigation h1{
    grid-column: 1/3;
  }

  .navigation{
    margin: 0px 25px;
  }

  .navigation ul{
    display: flex;
    grid-column: 6/9;
    justify-content: flex-end;
    align-self: center;
  }

  .navigation li{
    margin-left: 20px;
    font-size: 2em;
  }
  
  .navlink{
    color: white;
  }
  a:hover{
    color: black;
  }

  .profileimage{
    height: 450px;
  }

  .button{
    padding: 12px 15px;
    font-size: 1.3em;
  }

  .projectimage{
    margin: 5px 35px;
    width: auto;
    height: 300px;
  }
  
  .projectinfo{
    font-size: 1.2;
    color: aliceblue;
    text-align: center;
  }

  .program{
    font-size: 1.5em;
  }
  
}